@charset "utf-8";
@font-face {
    font-family: 'BYekan';
    src: url("../fonts/BYekan.eot");
    src: local("?"), url("../fonts/BYekan.woff") format("woff"), url("../fonts/BYekan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*---------- CustomElement ----------*/
.-elm-cell {
    display:block;
    position:relative;
    margin:0 0 5px;
}

html[dir=ltr] .-elm-cell {
    padding-left: 105px;
    text-align: left;
}

html[dir=rtl] .-elm-cell {
    padding-right: 105px;
    text-align: right;
}

.-elm-cell.inline {
    display: inline-block;
    margin: 0 1px 5px;
}

html[dir=ltr] .-elm-cell.inline {
    padding-left: 0;
}

html[dir=rtl] .-elm-cell.inline {
    padding-right: 0;
}
/*--- button ---*/
.-elm-btn {
    margin:0;
    font:13px "tahoma", "arial", sans;
    text-align:center;
    border-radius:3px;
    white-space:nowrap;
    height:28px;
    line-height:27px;
    min-width:55px;
    padding:0 10px;
    color:#333;
    text-shadow: 0 1px #fff;
    vertical-align: top;
    cursor: pointer;
    border:1px solid #cfcfcf;
    background:#f9f9f9 url(../images/btn-bg.png) repeat-x top;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3),0 1px 2px rgba(0,0,0,0.1);
    box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    z-index:2;
}

.-elm-btn:hover{
    border:1px solid #cfcfcf;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4),0 1px 2px rgba(0,0,0,0.2);
}

.-elm-btn:active{
    background:#f9f9f9 url(../images/btn-bg.png) repeat-x  0 -40px;
}
html[dir=rtl] .-elm-btn{
    font:13px "BYekan","tahoma", "arial", sans;
}

a.-elm-btn {
    display:inline-block;
    text-decoration:none;
    line-height:2.2em !important;
}
.-elm-btn.cyan{
    color:#fff;
    text-shadow:0 1px rgba(0,0,0,0.2);
    border:1px solid #2296c2;
    background:#56c3e7 url(../images/btn-bg.png) repeat-x top;
}
.-elm-btn.cyan:active{
    background:#49b9de url(../images/btn-bg.png) repeat-x  0 -40px;
}

.-elm-btn.orange{
    border:1px solid #f49244;
    color:#fff;
    text-shadow:0 0 5px #e9781c;
    background:#fab127;
    background-image: linear-gradient(bottom, rgb(237,161,21) 0%, rgb(248,202,48) 100%);
    background-image: -o-linear-gradient(bottom, rgb(237,161,21) 0%, rgb(248,202,48) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(237,161,21) 0%, rgb(248,202,48) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(237,161,21) 0%, rgb(248,202,48) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(237,161,21) 0%, rgb(248,202,48) 100%);
}
.-elm-btn.orange:hover{
}
.-elm-btn.orange:active{
    background-image: linear-gradient(bottom, rgb(248,202,48) 0%, rgb(237,161,21) 100%);
    background-image: -o-linear-gradient(bottom, rgb(248,202,48) 0%, rgb(237,161,21) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(248,202,48) 0%, rgb(237,161,21) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(248,202,48) 0%, rgb(237,161,21) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(248,202,48) 0%, rgb(237,161,21) 100%);
}

.-elm-btn.flat {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    -webkit-transition: border 0.3s ease;
    -moz-transition: border 0.3s ease;
    -ms-transition: border 0.3s ease;
    -o-transition: border 0.3s ease;
    transition: border 0.3s ease;
}

.-elm-btn.flat:active, .-elm-btn.flat:hover {
    border:1px solid #cfcfcf;
    box-shadow:inset 0 0 0 1px rgba(255, 255, 255, 0.3),0 1px 2px rgba(0,0,0,0.1)
}

@-moz-document url-prefix(){
	.-elm-btn {
		padding-bottom:5px;
		height:23px;
		line-height:0;
	}
	html[dir=rtl] .-elm-btn {
		padding-bottom:3px;
		height:25px;
		line-height:0;
	}
	a.-elm-btn{
		line-height:2em !important;
	}
	html[dir=rtl] a.-elm-btn{
		line-height:2.1em !important;
	}
}

/*--- text input ---*/
.-elm-text,textarea{
    text-align:left;
    direction:ltr;
    padding:8px;
    width:285px;
    position:relative;
    font:13px "tahoma","arial", sans;
    border:1px solid #dbdbdb;
    margin:0;
    color:#444;
    z-index:11;
	outline:0;
    background:transparent;
    border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;
}
.-elm-text:hover,textarea:hover{
    border: 1px solid #c9c9c9;
}
.-elm-text:focus,textarea:focus{
    background:#ffffff;
    border: 1px solid #00B9C9;
    box-shadow:0 0 5px #aae1e6;-moz-box-shadow:0 0 5px #aae1e6;
	-webkit-box-shadow:0 0 5px #aae1e6;
}
.-elm-text.error,textarea.error{
    border: 1px solid #e98484;
    box-shadow: 0 0 5px #efa9a9;-moz-box-shadow: 0 0 5px #efa9a9;
	-webkit-box-shadow: 0 0 5px #efa9a9;
}
.-elm-text.success,textarea.success{
    border: 1px solid #10c300;
    box-shadow: 0 0 5px #aee8a9;-moz-box-shadow: 0 0 5px #aee8a9;
	-webkit-box-shadow: 0 0 5px #aee8a9;
}
.-elm-text[disabled] {
    background-color: #f5f5f5;
}
html[dir=rtl] .-elm-text.rtl{
    text-align:right;
    direction:rtl;
}
.-elm-text-center{
    text-align:center;
}
.-elm-text-mini{
    width:81px;
}
.with-btn{
    padding:6px;
    width: 135px;
    text-align:center;
}
.-elm-select{
    font:13px "tahoma", "arial", sans;
    height:34px;
    line-height:28px;
    width:305px;
    border:1px solid #DBDBDB;
    margin:0;
    color:#444;
    z-index:11;
    padding:5px;
    text-align:left;
    direction:ltr;
    border-radius:4px;
	background:#ffffff;
}
.-elm-select:focus{
    border:1px solid #00B9C9;
    background:#FFF;
    box-shadow:0 0 5px #aae1e6;-moz-box-shadow:0 0 5px #aae1e6;
	-webkit-box-shadow:0 0 5px #aae1e6;
}
html[dir=rtl] .-elm-select {
    text-align:right;
    direction:rtl;
}

.-bayan-message-box{
    border:1px solid #c1e770;
	background: #f0fcca url(../images/suc.png) no-repeat 5px 4px;
	min-height:27px;
    cursor:default;
    border-radius:3px;
    margin-bottom:20px;
    color:#093;
}
.-bayan-message-box.cat-error{
    color:#c07b0c;
    border: 1px solid #ffcc66;
	background: #ffffcc url(../images/att.png) no-repeat 5px 4px;
}
.-bayan-message-box .-mess-text{
    padding:5px 5px 5px 35px;
    text-align:left;
    line-height:1.7em;
}
html[dir=rtl] .-bayan-message-box{
    background-position:485px 4px;
}
html[dir=rtl] .-bayan-message-box .-mess-text{
    padding:5px 35px 5px 5px;
    text-align:right;
}

.-elm-static {
    width: 285px;
    position: relative;
    padding: 8px;
    border: 1px solid transparent;
    height: 15px;
    display: inline-block;
}

.-elm-static .-elm-btn {
    position: absolute;
    right: 0;
    top: 1px;
}

.-text-right {
    text-align: right;
}

.-text-left {
    text-align: left;
}

html[dir=rtl] .-text-right.flip {
    text-align: left;
}

html[dir=rtl] .-text-left.flip {
    text-align: right;
}

input[type=checkbox]{
	vertical-align:middle;
}
